{% extends 'base.html' %}
{% block title %}Payment Done - UprintMate{% endblock %}

{% block content %}
<!--body-->
<div class="mx-auto max-w-xl py-24 px-6 sm:px-6 lg:px-8 h-screen">
    <div class="bg-white shadow-xl rounded-lg">
        <div class="p-8 sm:p-12 lg:p-16">
            <h1 class="text-2xl font-bold text-green-700">Payment successful!</h1>
            <p class="mt-4 text-gray-600">Your order has been successfully paid. We will process your order as soon as possible.</p>
        </div>
        <div class="p-4 flex justify-center">
            <a class="btn btn-outline" href="/">GO BACK HOME</a>
        </div>
    </div>
</div>
{% endblock %}
