{% load widget_tweaks %}


{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{ form.non_field_errors }}
</div>
{% endif %}

{% for field in form %}
<div class="form-group py-2">
    {{ field.label_tag }}
    {% render_field field class="form-control border-2 w-full rounded p-1 focus:outline-none shadow-md mb-2" %}

    {% if field.help_text %}
    <small class="form-text text-muted text-gray-500">
        {{ field.help_text|safe }}
    </small>
    {% endif %}
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
{% endfor %}
