<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block desc %}{% endblock %}">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="googlebot" content="index, follow"/>
    <meta name="robots" content="index, follow"/>
    <meta name="coverage" content="Worldwide"/>
    <link rel="canonical" href="{{ request.get_full_path }}">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        nav {
            position: relative;
            z-index: 49;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<!--nav-->
<nav class="bg-base-100 px-4 py-2 flex justify-between items-center shadow-lg">
    <a href="/" class="ml-0 lg:ml-10">
        <img src="/static/admin.png" alt="" width="30px" height="10px">
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <div class="dropdown dropdown-hover">
            <label tabindex="0" class="m-1 cursor-pointer flex items-center gap-1">
                Catalog
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M529.92 640.512L716.8 456.704a51.2 51.2 0 0 0-35.84-88.064H314.88a51.2 51.2 0 0 0-36.864 87.04l179.2 183.808a51.2 51.2 0 0 0 72.192 0z" fill=""></path></svg>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/categories/">All Catalog</a></li>
                {% block menu %}{% endblock %}
            </ul>
        </div>
        <div class="dropdown dropdown-hover">
            <label tabindex="0" class="m-1 cursor-pointer flex items-center gap-1">
                About
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M529.92 640.512L716.8 456.704a51.2 51.2 0 0 0-35.84-88.064H314.88a51.2 51.2 0 0 0-36.864 87.04l179.2 183.808a51.2 51.2 0 0 0 72.192 0z" fill=""></path></svg>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/blog/about-us/">About Us</a></li>
            </ul>
        </div>
        <li><a class="cursor-pointer m-1" href="/blog/">Blog</a></li>
    </ul>
    <div class="hidden lg:flex lg:items-center">
        {% if user.is_authenticated %}
        <div class="dropdown dropdown-bottom dropdown-end dropdown-hover">
            <label tabindex="0" class="cursor-pointer flex items-center">
                <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                    <path d="M510.45 70.554c-243.163 0-442.115 198.951-442.115 442.115 0 243.16 198.952 442.11 442.116 442.11 243.159 0 442.11-198.95 442.11-442.11 0-243.165-198.951-442.115-442.11-442.115z m11.051 132.633c168.556 0 168.556 127.11 168.556 198.95 0 71.847-66.318 204.48-168.556 207.24-99.475 0-168.556-132.632-168.556-207.24 0.001-71.841 0.001-198.95 168.556-198.95z m-11.05 726.723c-127.11 0-243.164-58.03-320.534-149.211 11.051-27.635 24.868-58.03 44.212-74.607 41.446-33.162 165.79-88.425 165.79-88.425l77.37 149.215 13.816-35.923L469 686.747l44.212-44.208 44.212 44.208-19.345 46.974 11.055 35.924 80.132-146.45s124.343 55.262 165.793 88.424c19.34 13.813 33.157 38.685 41.447 60.787C761.9 869.12 643.082 929.91 510.45 929.91z m0 0"
                          fill="#13227a"></path>
                </svg>
                <span class="text-xs">{{ user }}</span>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box">
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
        <div class="ml-4 hidden lg:block">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <a href="/cart/">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                        </svg>
                    </a>
                    <div class="nums">
                        <span class="badge badge-sm indicator-item cart_nums">0</span>
                    </div>
                </div>
            </label>
        </div>
        {% else %}
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-green-300 hover:bg-green-400 text-sm text-gray-900 font-bold  rounded-xl transition duration-200"
           href="/login/?next={{request.path}}">Sign In</a>
        <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
           href="/signup/">Sign up</a>
        {% endif %}
    </div>
</nav>
<!--移动端菜单-->
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
            <a href="/" class="ml-0 lg:ml-10">
                <img src="/static/lg.jpg" alt="uprintmate.com" width="150px" height="60px">
            </a>
            <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="ml-8">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <div class="indicator">
                        <a href="/cart/">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                            </svg>
                        </a>
                        <div class="nums">
                            <span class="badge badge-sm indicator-item cart_nums">0</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div>
            <ul>
                <li class="mb-4 ml-4">
                    <div class="dropdown dropdown-hover">
                        <label tabindex="0" class="m-1 cursor-pointer flex gap-2 items-center">
                            Catalog
                            <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M529.92 640.512L716.8 456.704a51.2 51.2 0 0 0-35.84-88.064H314.88a51.2 51.2 0 0 0-36.864 87.04l179.2 183.808a51.2 51.2 0 0 0 72.192 0z" fill=""></path></svg>
                        </label>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="/categories/">All Catalog</a></li>
                            {% block moblie_menu %}{% endblock %}
                        </ul>
                    </div>
                </li>
                <li class="mb-4 ml-4">
                    <div class="dropdown dropdown-hover">
                        <label tabindex="0" class="m-1 cursor-pointer flex gap-2 items-center">
                            About
                            <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M529.92 640.512L716.8 456.704a51.2 51.2 0 0 0-35.84-88.064H314.88a51.2 51.2 0 0 0-36.864 87.04l179.2 183.808a51.2 51.2 0 0 0 72.192 0z" fill=""></path></svg>
                        </label>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="/blog/about-us/">About Us</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-4 ml-4"><a class="m-1" href="/blog/">Blog</a></li>
            </ul>
        </div>
        <div class="mt-auto">
            <div class="pt-6">
                {% if user.is_authenticated %}
                <div class="flex gap-4 items-center">
                    <label class="cursor-pointer">
                        <svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="48"
                             height="48">
                            <path d="M510.45 70.554c-243.163 0-442.115 198.951-442.115 442.115 0 243.16 198.952 442.11 442.116 442.11 243.159 0 442.11-198.95 442.11-442.11 0-243.165-198.951-442.115-442.11-442.115z m11.051 132.633c168.556 0 168.556 127.11 168.556 198.95 0 71.847-66.318 204.48-168.556 207.24-99.475 0-168.556-132.632-168.556-207.24 0.001-71.841 0.001-198.95 168.556-198.95z m-11.05 726.723c-127.11 0-243.164-58.03-320.534-149.211 11.051-27.635 24.868-58.03 44.212-74.607 41.446-33.162 165.79-88.425 165.79-88.425l77.37 149.215 13.816-35.923L469 686.747l44.212-44.208 44.212 44.208-19.345 46.974 11.055 35.924 80.132-146.45s124.343 55.262 165.793 88.424c19.34 13.813 33.157 38.685 41.447 60.787C761.9 869.12 643.082 929.91 510.45 929.91z m0 0"
                                  fill="#13227a"></path>
                        </svg>
                    </label>
                    <a href="/logout/">Logout</a>
                </div>
                {% else %}
                <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-green-300 hover:bg-green-400 rounded-xl"
                   href="/login/?next={{request.path}}">Sign in</a>
                <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl"
                   href="/signup/">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
<!--footer-->
<footer class="footer items-center p-4 bg-neutral text-neutral-content">
    <div class="items-center grid-flow-col">
        <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
             clip-rule="evenodd" class="fill-current">
            <path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path>
        </svg>
        <p>Copyright © 2023 - All right reserved</p>
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
            </svg>
        </a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
            </svg>
        </a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
            </svg>
        </a>
    </div>
</footer>
</body>
<script src="{% static 'goods/js/jquery.js' %}"></script>
<script>
    // Burger menus
    document.addEventListener('DOMContentLoaded', function () {
        // open
        const burger = document.querySelectorAll('.navbar-burger');
        const menu = document.querySelectorAll('.navbar-menu');

        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        // close
        const close = document.querySelectorAll('.navbar-close');
        const backdrop = document.querySelectorAll('.navbar-backdrop');

        if (close.length) {
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    });

    function updateCartCount() {
        $.getJSON('/get_cart_count/', function (data) {
            $('.cart_nums').text(data.count);
            $('#cart_items').text(data.count);
        });
    }

    // 在页面加载时更新购物车数量
    $(document).ready(function () {
        updateCartCount();
    });

    const ob = new IntersectionObserver((entries) => {
            for (const entry of entries) {
                if (entry.intersectionRatio) {
                    const img = entry.target
                    img.src = img.dataset.src
                    ob.unobserve(img)
                }
            }
        },
        {
            threshold: 0
        })
    const imgs = document.querySelectorAll('img[data-src]')
    imgs.forEach((imgEle) => {
        ob.observe(imgEle)
    })
</script>
{% block script %}
{% endblock %}
</html>
